/* Styles de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
    color: #333;
    overflow-x: hidden; /* Empêche le défilement horizontal */
}

/* Styles de navigation */
header {
    background-color: #f8f9fa;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}

/* Logo et menu dans une ligne pour PC */
.logo-container {
    position: absolute;
    top: 55%;
    left: 20px;
    transform: translateY(-50%);
}

.logo {
    width: 120px;
}

.nav-links {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline-block;
}

.nav-links li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: #007bff;
}

/* Hamburger menu - Mobile uniquement */
.hamburger {
    display: none;
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
}

/* Section Accueil */
#accueil {
    text-align: center;
    padding: 60px 20px;
    background-color: #e9ecef;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Ajout de l'ombrage */
    margin-bottom: 40px; /* Espace en dessous */
}

#accueil img {
    width: 250px;
    margin-bottom: 20px;
}

#accueil h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

#accueil p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

#accueil button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px; /* Coins arrondis */
    transition: background-color 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

#accueil button:hover {
    background-color: #0056b3;
}

#trusted {
    padding-top: 18px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
}

/* Section "Ils nous font confiance" */
#trusted h2 {
    font-size: 1.4rem;
    margin-bottom: 10px;
    text-align: center; /* Centre le texte */
}

/* Carousel avec défilement infini */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-200px * 5)); /* Ajustez 200px pour correspondre à la largeur de chaque logo */
    }
}

.trusted-carousel {
    overflow: hidden;
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 40px 0;
}

.trusted-carousel .slide-track {
    display: flex;
    animation: scroll 20s linear infinite; /* Ajustez la durée pour modifier la vitesse */
    width: calc(200px * 10); /* Ajustez 200px pour correspondre à la largeur de chaque logo, et multipliez par le nombre total d'éléments (y compris les duplicatas) */
}

.trusted-carousel .slide img {
    width: 200px; /* Ajustez la largeur selon vos besoins */
    height: auto; /* Maintient les proportions de l'image */
}

.trusted-carousel .slide {
    flex: 0 0 200px; /* Ajustez pour correspondre à la largeur de chaque logo */
    padding: 10px;
    text-align: center;
    font-weight: bold;
    background-color: transparent;
    border-radius: 8px;
    margin: 0 50px
}

.hidden {
    display: none;
}

/* Styles pour le CTA sous le carousel */
#cta {
       text-align: center;
       margin-top: 10px; /* Distance entre le carousel et le CTA */
       margin-bottom: 70px; /* Distance entre le CTA et la section À propos */
       opacity: 0;
       transition: opacity 0.5s ease-in-out;
}

@media (max-width: 768px) {
    #cta {
        position: relative;
        top: -10px; /* Ajustez cette valeur pour déplacer le CTA vers le haut */
        margin-top: 0; /* Assurez-vous que la marge soit à 0 */
    }
}

#cta.hidden {
    opacity: 0;
    display: block; /* S'assure que l'élément prend de la place même caché */
}

#cta:not(.hidden) {
    opacity: 1;
}

#cta button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 12px 24px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s;
}

#cta button:hover {
    background-color: #0056b3;
}

/* Section À propos */
#apropos {
    padding: 70px 20px;
    text-align: center;
    background-color: #f9f9f9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 40px;
}

#apropos h2 {
    font-size: 2.2rem;
    margin-bottom: 55px; /* Augmente l'espace sous le titre principal */
}

.phrase-accroche {
    font-size: 1.3rem;
    font-style: italic;
    margin-bottom: 45px; /* Augmente l'espace sous les phrases d'accroche */
}

.intro-sk p, .methodology-overview p, .methodology-overview ul {
    font-size: 1.1rem;
    max-width: 800px;
    margin: auto;
    margin-bottom: 40px; /* Augmente l'espace entre chaque paragraphe et liste */
    line-height: 1.7;
}

.methodology-overview {
    margin-top: 30px;
}

.methodology-overview h3 {
    font-size: 1.8rem;
    margin-top: 40px; /* Augmente l'espace au-dessus du sous-titre */
    margin-bottom: 30px; /* Augmente l'espace sous le sous-titre */
}

.methodology-overview ul {
    list-style: none;
    padding: 0;
}

.methodology-overview ul li {
    margin: 20px 0; /* Augmente l'espace entre les éléments de la liste */
    padding: 10px;
    background-color: #d1e7dd;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

/* Bulles et stats */
.stats {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}

.stat-box {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 170px;
    text-align: center;
}

.stat-box .icon {
    font-size: 2rem;
    color: #007bff;
}

.stat-box p {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 10px;
}

/* Bouton d'appel à l'action */
#apropos button {
    margin-top: 50px; /* Ajuste la marge pour descendre le bouton */
    padding: 12px 24px;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

#apropos button:hover {
    background-color: #0056b3;
}

/* Styles pour mobile */
@media (max-width: 768px) {
    .logo-container {
        position: absolute;
        top: 55%;
        left: 20px;
        transform: translateY(-50%);
    } 

    .logo {
        width: 100px;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        background-color: #f8f9fa;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        padding: 20px;
        font-size: 1.2rem;
    }

    .nav-links.show {
        display: flex;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .hamburger {
        display: block;
        position: absolute;
        top: 46%;
        right: 20px;
        transform: translateY(-50%);
    }

    #accueil {
        padding-top: 80px;
    }

    #trusted {
        padding: 40px 10px;
    }

    #apropos h2 {
        font-size: 1.8rem;
    }

    .stat-box {
        width: 100%;
    }
}
